<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="filmsystem.Mapper.AdministratorMapper">

    <resultMap id="adminList" type="filmsystem.Model.Administrator">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="img" column="img"/>
    </resultMap>

    <insert id="insertAdmin" parameterType="filmsystem.Model.Administrator" useGeneratedKeys="true" keyProperty="id">
        insert into administrator(username, password, img) values(#{username},#{password},#{img})
    </insert>

    <delete id="deleteAdmin">
        delete from administrator where id=#{id}
    </delete>

    <select id="selectAdminById" resultType="filmsystem.Model.Administrator">
        select * from administrator where id=#{id}
    </select>

    <select id="getAllAdmin" resultMap="adminList">
        select * from administrator
    </select>

    <select id="selectAdminByName" resultType="filmsystem.Model.Administrator">
        select * from administrator where username=#{username}
    </select>

    <update id="updateAdmin" parameterType="filmsystem.Model.Administrator">
        update administrator set username=#{username},password=#{password},img=#{img} where id=#{id}
    </update>
</mapper>