<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="filmsystem.Mapper.FilmOfficeMapper">

    <resultMap id="officeList" type="filmsystem.Model.FilmOffice">
        <id property="id" column="id"/>
        <result property="cinemaId" column="cinemaId"/>
        <result property="officeId" column="officeId"/>
        <result property="rowNum" column="rowNum"/>
        <result property="col" column="col"/>
    </resultMap>

    <insert id="insertOffice" parameterType="filmsystem.Model.FilmOffice" useGeneratedKeys="true" keyProperty="id">
        insert into filmoffice (cinemaId, officeId, rowNum, col) values (#{cinemaId},#{officeId},#{rowNum},#{col})
    </insert>

    <delete id="deleteOffice">
        delete from filmoffice where id=#{id}
    </delete>

    <select id="selectOfficeById" resultType="filmsystem.Model.FilmOffice">
        select * from filmoffice where id=#{id}
    </select>

    <select id="selectOfficeByOfficeId" resultType="filmsystem.Model.FilmOffice">
        select * from filmoffice where cinemaId=#{arg0} and officeId=#{arg1}
    </select>

    <select id="selectOfficeByCinemaId" resultMap="officeList">
        select * from filmoffice where cinemaId=#{cinemaId}
    </select>

    <update id="updateOffice" parameterType="filmsystem.Model.FilmOffice">
        update filmoffice set cinemaId=#{cinemaId},officeId=#{officeId},rowNum=#{rowNum},col=#{col} where id=#{id}
    </update>
</mapper>